<div class="row">
  <div class="actions">
   <div class="search">
     <input matInput [(ngModel)]="codigoDeBarrasInput" placeholder="Buscar código de barras"  maxlength="16">
     <button (click)="searchCodBarras()">
       <i class="fa-solid fa-magnifying-glass"></i>
     </button>
   </div>
   <div class="new">
     <app-botao [tipo]="'verde'" [texto]="'Cadastrar'" (click)="create()"></app-botao>
   </div>
  </div>

   <div class="mat-elevation-z5 t-table-container">
     <div class="t-table-scroll">

       <table mat-table [dataSource]="dataSource" matSort class="t-table">

         <ng-container matColumnDef="produto">
           <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="sortDataByProduto()">Produto</th>
           <td mat-cell *matCellDef="let row" class="t-td"> {{row.nome}} </td>
         </ng-container>

         <ng-container matColumnDef="codigoBarras">
          <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="sortDataByCod()">Código de Barras</th>
          <td mat-cell *matCellDef="let row" class="t-td"> {{row.codigoBarras}} </td>
        </ng-container>

         <ng-container matColumnDef="fabricante">
           <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="sortDataByFabricante()">Fabricante</th>
           <td mat-cell *matCellDef="let row" class="t-td"> {{row.fabricante.nome}} </td>
         </ng-container>

         <ng-container matColumnDef="descricao">
           <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="sortDataByDescricao()">Descrição</th>
           <td mat-cell *matCellDef="let row" class="t-td"> {{row.descricao}} </td>
         </ng-container>

         <ng-container matColumnDef="actions">
           <th mat-header-cell *matHeaderCellDef mat-sort-header>Ações</th>
           <td mat-cell *matCellDef="let row" class="t-td">
             <div class="t-acoes">
              <button class="t-acoes-btn" (click)="seeInfo(row)" matTooltip="Detalhes">
                <i class="fa-solid fa-circle-info"></i>
              </button>
               <button class="t-acoes-btn" (click)="edit(row)" matTooltip="Editar">
                 <i class="fa-regular fa-pen-to-square"></i>
               </button>
               <button class="t-acoes-btn" matTooltip="Excluir" (click)="delete(row)">
                 <i class="fa-regular fa-trash-can"></i>
               </button>
             </div>
           </td>
         </ng-container>

         <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
         <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
       </table>

     </div>

     <mat-paginator
       [length]="totalElements"
       [pageSize]="pageSize"
       [pageIndex]="pageNumber"
       [pageSizeOptions]="pageSizeOptions"
       (page)="paginar($event)">
     </mat-paginator>
   </div>
 </div>
